VITE_SUPABASE_URL=https://tojwoajyqlzihgqnplzk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_AXvUOU3ishzvVKpOMo7GCQ_7k8UZf6Z
VITE_FINNHUB_API_KEY=d7i773pr01qu8vfnj730d7i773pr01qu8vfnj73g
VITE_ALPHAVANTAGE_API_KEY=8JTP18ETKSWJ2JDU
